@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display:wght@700&display=swap');
@font-face {
    font-family: typoPRO bebas neue;
    src: url(https://cdn.jsdelivr.net/npm/@typopro/web-bebas-neue@3.7.5/TypoPRO-BebasNeue.min.css);
}
#address1 p{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
}
/*h1{
    font-family: 'Playfair Display', serif;
}*/
.blogdata p{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 23px;
}
.pc{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 14px;
}
div b{
    font-family: 'Playfair Display', serif;
    font-style:normal;
    font-size: 20px;
    line-height:20px;
}
#address{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
}
.detail{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
}
footer{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
}
/*.serial-no{
    text-align : left ; 
    font-size: 180px ; 
    margin-bottom:-150px;
    color: rgba(248, 209, 108, 0.5)
}
.project-head{
    font-size: 26px;
    text-align: right
}
.project-about{
    color:#99999999;
    font-style: italic;
    /*max-width: 25%;*/
/*}
.flex-middle{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}
.flex-middle div{
    max-width:20%;
}*/
.btn{
    text-align: center;
}
.button{
    padding: 0.5em 1em;
    background-color: white;
    font-family: typoPRO bebas neue;
    font-size: 1.1rem;
    border: 2px solid #263146;
    /*align-content: center;*/
    cursor: pointer;
}

.button:hover{
    background-color: #f8d06c
}
.container2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 2;
}
.link{ 
    font-size: 14px;
    /*padding-right:40px ;
    padding-left: 40px;*/ 
    padding-top: 30px; 
    width: 165px;
    text-align: right;
    margin-left: 50px;
}
.link1{
    flex-grow: 2;
}
.link2{
    flex-grow: 2;
}
#projectpage{
    display: flex;
    flex-wrap: wrap;
}
.link3{
    flex-grow: 2;
}
.link4{
    flex-grow: 2;
}
.third{
    background-color:#ebebeb;
    background-size: cover;
    background-position: center;
    width: 100%;
    text-align: center;
}
.container4{ 
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   justify-content: center;
}
.blogimage{
    flex-grow: 2;
}
.blogdata{
    flex-grow: 2;
    margin-top:5%;
}
/*.container5{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}*/
.contact{
    flex-grow: 2;
}
.about{
    flex-grow: 2;
}
.btn1{
    background-color: #ebebeb;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
.columnleft{
  flex : 70%;
  height:70vh;
  margin-top:40vh;
  margin-left:16%;
  padding-left:10%;
}
.columnright{
  flex : 20%;
  height:70vh;
  margin-top:30vh;
}
.para{
    color: #ffffff;
    padding-right: 1em;
    font-size: 20px;
    line-height: 2;
    width:55%;
    font-family: lato;
    margin-left: 15%;
}
.end{
    display: flex;
    flex-wrap: wrap-reverse;
}
.nav-list{
    box-shadow: none;
}
.pn{
    text-align : left ; 
    font-size: 180px ; 
    margin-bottom:-150px;
    color: rgba(248, 209, 108, 0.5);
}
.pc{
    color:#999999  ;
    font-style: italic;
}
#Playing{
    margin-top:30vh; 
    margin-left: 15%; 
    font-size : 60.2px ; 
    color : #f8d06c;  
    width:42%;  
    background-image: linear-gradient( to right, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 80%, rgba(255, 255, 255, 0.2) 80%, transparent 80%, transparent 100% )
}
#new{
    font-size : 60.2px ; 
    margin-left: 15%; 
    color : #f8d06c;   
    width:33%; 
    background-image: linear-gradient( to right, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 80%, rgba(255, 255, 255, 0.2) 80%, transparent 80%, transparent 100% );
}
.p b{
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    line-height:41px;
}
.link{
    min-width:230px;
    display: inline-block;
}
.pn{
    font-family: typoPRO bebas neue;   
}
h3{
    font-family: typoPRO bebas neue;
    font-weight:700;
    font-size: 21px;
    line-height: 42px;
}
@media only screen and (max-width: 600px){
    *{
        margin:0;
    }
    .link{
        display:inline-block;
        width: 75vw;
    }
    .pn{
        text-align: left;
    }
    .comp{
        display: none;
    }
    #address1 p{
        width:80%
    }
    .CONTACT-ABOUT{
        display: inline-block;
    }
    #address{
        width:88%;
    }
    .xyz{
        height:80vw;
        width:90vw;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    #Playing{
        font-size:40px;
        margin-bottom:10px;
        width:58%;
        background-image: linear-gradient( to right, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 80%, rgba(255, 255, 255, 0.2) 80%, transparent 70%, transparent 50% )
    }
    #new{
        font-size:40px;
        margin-bottom:10px;
        width:58%;
        background-image: linear-gradient( to right, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 80%, rgba(255, 255, 255, 0.2) 80%, transparent 70%, transparent 50% )
    }
}
.part1{
    display:flex;
    align-items: center;
    width:50vw;
    height:100vh;
    background-color: #293B52;
}
.info{
    height: 80vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 3rem;

}
h1{
    width: fit-content;
    font-size: 60.2px;
    color: #f8d16c;
    display: inline;
    font-family: 'Playfair Display';
    line-height: 1;
    font-weight: 700;
    min-height: 1rem;
    margin-left: 10vw;
    margin-bottom: 1vw;
    background-image: linear-gradient( to right, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 80%, rgba(255, 255, 255, 0.2) 80%, transparent 80%, transparent 100% );
}
.info p{
    margin-left: 10vw;
    font-size: 20px;
    line-height: 28px;
    color: white;
    font-family: lato;
}
.part2{
    width: 50vw;
    height: 100vh;
    background-color: rgb(248,209,108);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-right: 10vw;
}
.abc{
    display: flex;
}
@media only screen and (max-width:1100px){
    .part2{
        display:none;
    }
    .part1{
        width:100vw;
        height:100vh;
    }
    .info{
        height: 80vh;
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 3rem;
    }
    h1{
        font-size:48px;
        margin-bottom:15px;
    }
    .info p{
        font-size: 15px;
    }
    .end{
        margin:0;
    }
    .CONTACT-ABOUT{
        width:75vw !important;
    }
}
@media only screen and (min-width:1100px){
    .CONTACT-ABOUT{
        min-width:500px;
    }
}
@media only screen and (max-width:1122px){
    footer{
        padding-left:8%;
        margin-top: 10px;
    }
}
@media only screen and (max-width:1122px){
    .link{
        margin-bottom: 10px;
    }
    .link4{
        margin-bottom: 50px;
    }
