body{
    margin:0;
}
*{
    margin-left:0px;
    margin-right:0px;
}
a{
    color:black;
    text-decoration: none;
}
.items a:hover{
    opacity: 0.5;
}
.nav-bar{
    position: sticky;
    top:0px;
    background-color: white;
    display:flex;
    border-bottom: 1px solid black;
    margin:0px;
    padding-top: 15px;
    padding-bottom: 1px;
    justify-content: flex-end;
    /*box-shadow: 5px 5px #797474;*/
}
.IMGLOGO{
    margin-right: 500px;
    position: sticky;
    left:0;
}
.items{
    margin-left: 10px;
    margin-right:10px;
}
#last{
    margin-right:200px;
}
.main-display{
    display: flex;
    color: white;
    justify-content: center;
    margin-top: 0%;
}
/*h1{
    color: #f8d16c;
    font-size: 50px;
    background-color: #586474;
    display: inline;
}*/
.left{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width:53.5vw;
    background-color: #293B52;
    padding-top: 100px;
    margin: 0px;
    padding-bottom:450px;
    /*min-height:100%;*/
}
#left{
    display: flex;
    flex-direction: column;
}
.right{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width:46.5vw;
    background-color:#F8D16C ;
    padding-top: 0px;
    padding-left: 6rem;
    /*min-height:100%*/
}
.Projects{
    display: flex;
    justify-content: center;
}
/*#project-img{
    margin-top: 10px;
}*/
/*h2{
    text-align: center;
    border-bottom: 8px solid #f8d16c;
    padding-bottom: 10px;
}*/
.about{
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    background-color: #293B52;
    color: white;
    padding-left:7vw;
}
.CONTACT-ABOUT{
    /*display: inline-block;*/
    width: 40vw;
}
footer{
    background-color: #263146;
    color:white;
    margin: 0% !important;
    padding:10px 50px;
    padding-left:13vw;
}
/*i.icon.phone::before {
    content: "\f095";
}
i.icon{
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-weight: 400;
    text-align: center;
}
i.inverted.icon {
    color: #fff;
}
i.icon, i.icons {
    font-size: 1em;
}*/
span{
    margin-left: 12px;
    color: #f8d16c;
}
.fab{
    color: #fff;
}
a .fab{
    cursor: default;
}
a .fab:hover{
    color: #f8d16c;
}
.initial{
    margin-left: 0;
}
.project{
    font-size: 32px;
    font-family: 'Playfair Display';
    margin-top:-10px;
    color: #3b3736;
    padding-bottom: 0px;
    text-align: center;
}
.p{
    display: inline-block;
    border-bottom: 0.2em #f8d16c solid;
    padding-left: 0.8em;
    margin: 0.5em 0 0.5em 0 !important;
    padding-right: 0.8em;
    padding-bottom: 10px;
    padding-left: 0.8em;
}
/*@media only screen and (min-width:1100px){
    .comp{
        max-width:100%;
    }
    
}*/