@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@font-face {
    font-family: typoPRO bebas neue;
    src: url(https://cdn.jsdelivr.net/npm/@typopro/web-bebas-neue@3.7.5/TypoPRO-BebasNeue.min.css);
}
body{
    margin:0;
}
#b1{
    background-image:url("../images/1.jpeg");
}
#b2{
    background-image:url("../images/2.png")
}
#b3{
    background-image:url("../images/3.png")
}
#b4{
    background-image:url("../images/4.jpeg")
}
#b5{
    background-image:url("../images/5.jpeg")
}
#b6{
    background-image:url("../images/6.png")
}
.images{
    width:100%;
    height:200px;
    background-position: center;
    background-size:cover;
}
.part{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 30%;
}
.blogs{
    border:1px solid #b6b2b2;
    border-radius: 2% 2% 2% 2%;
    margin:10px;
}

.date{
    margin-right:10px !important;
    margin-left: auto;
    float: inline-end;
}
/*span{
    padding-bottom:10px;
}
/*h3{
    border-bottom: 1px solid #b6b2b2;
}*/
.medium{
    text-align: center;
    font-size:20px;
    margin:25px;
}
.nav-item:first-child{
    margin-right:auto;
    margin-left:12rem;
    position: sticky;
    left:0;
}
.bloga{
    text-decoration: none;
    color:black;
}
.blogs:hover{
    margin-top:5px;
    margin-bottom:15px;

}
.items a{
    color: black;
    text-decoration: none;
}
@media only screen and (min-width:500px){
    .active{
        border-bottom: 2px solid black;
    }
}
/*footer{
    position:absolute;
    bottom: 0;
}*/
.main{
    min-height: calc(100vh - 2rem);
}
.font{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    padding-left: 20px;
}
footer{
    font-size:14px !important;
    line-height: 20px !important;
}
@media only screen and (max-width:1122px){
    footer{
        padding-left:8%;
        margin-top: 10px;
    }
}
@media only screen and (min-width: 1200px){
    .blogs{
        width:calc(29% - 2em);
    }
}
@media only screen and (max-width: 650px){
    .blogs{
        width:85vw;
    }
}
.author{
    border-top:1px solid lightgray;
    padding-top: 10px;
    padding-bottom: 5px;
}
i:hover{
    opacity: 1;
    cursor: pointer;
}
@media only screen and (max-width:1200px) and (min-width:650px){
    .blogs{
        width:calc(50% - 2em);
    }
}
h3{
    padding-right: 30px;
}
.author{
    display: flex;
    color:#999999;
    height:25px;
}
h3{
    height: 40px;
}
i{
    opacity:0.7;
}
@media only screen and (max-width:1122px){
    footer{
        padding-left:8%;
        margin-top: 10px;
    }
}
footer{
    background-color: #263146;
    color:white;
    margin: 0% !important;
    padding:10px 50px;
    padding-left:10vw !important;
}
.nav-item:first-child{
    margin-left: 10vw;
}
navbar{
    margin-bottom: 10px;
}